
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.csproj.AssemblyReference.cache
.vs/PasswordManager/FileContentIndex/65ae95a1-1f73-456c-87e5-c0770167a468.vsidx
.vs/PasswordManager/FileContentIndex/6940c7da-4a5d-45f9-9b76-f91e2d63f63f.vsidx
.vs/PasswordManager/FileContentIndex/8815b4d7-3db2-4abf-bac5-46ac785f750b.vsidx
.vs/PasswordManager/FileContentIndex/ead9529d-0eeb-4ada-8968-508413e3faca.vsidx
.vs/slnx.sqlite
.vs/PasswordManager/FileContentIndex/40dbd1f8-e07e-4fcf-a92a-f381e04b6d77.vsidx
PMan/obj/Debug/net7.0-android/PMan.assets.cache
PMan/obj/Debug/net7.0-android/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.assets.cache
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.nfloat.g.cs
PMan/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PMan.assets.cache
PMan/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PMan.nfloat.g.cs
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.AssemblyInfo.cs
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.AssemblyInfoInputs.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.assets.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.csproj.AssemblyReference.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-android/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-ios/iossimulator-x64/PMan.nfloat.g.cs
PMan/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
PMan/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PMan.nfloat.g.cs
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.AssemblyInfo.cs
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.AssemblyInfoInputs.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.assets.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.csproj.AssemblyReference.cache
PMan/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PMan.GeneratedMSBuildEditorConfig.editorconfig
